.history
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/.vagrant
/RUNNING_PID
/conf/application.local.conf
/conf/gcloud.conf
/out
/project/project
/project/target
/target
dist
logs
tmp
